BasedOnStyle: LLVM
IndentWidth: 2
ColumnLimit: 0
BreakBeforeBraces: Attach
PointerAlignment: Left
Cpp11BracedListStyle: false
SortIncludes: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
